@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
.Title {
  color: #e50815;
  font-weight: bold;
}

header {
  height: 75px;
  background-color: #141414;
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.content {
  color: white;
  margin-left: 1em;
}

body {
  background-color: #141414;
  font-family: 'Pretendard-Regular';
  color: white;
}

main {
  padding: 1rem;
  height: 100%;
}

.main-container {
  position: relative;
}

.mainTitle {
  position: absolute;
  top: 20%;
  left: 5%;
  text-shadow: 2px 2px 2px #2f3542;
  font-size: 40px;
}

.main-button-container {
  position: absolute;
  top: 45%;
  left: 5%;
}

.mainBtn {
  color: white;
  background-color: #141414;
  border-radius: 3px;
  margin-left: 4px;
  width: 100px;
  height: 25px;
  opacity: 0.9;
}

.mainText {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 5%;
  text-shadow: 2px 2px 2px #2f3542;
}
.mainImg {
  height: 500px;
  width: 100%;
}

.container {
  overflow: visible;
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}

.container::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.item {
  width: 200px;
  height: 300px;
  margin-right: 5px;
  border-radius: 10px;
  margin-bottom: 3px;
  transition: 0.3s;
}

.item:hover {
  overflow: visible;
  transform: scale(1.3);
}
