.container {
  position: relative;
  width: 100%;
}

.name {
  font-size: 18px;
  padding: 0.2rem;
  cursor: pointer;
  margin-left: 4%;
}

.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 95%;
  gap: 10px;
  margin: 0 auto;
}

.movie {
  position: relative;
  transition: 0.3s;
}

.movie:hover {
  transform: scale(1.5);
  z-index: 3;

  margin-left: 30px;
  margin-right: 30px;
}

.movie img {
  width: 100%;
  cursor: pointer;
}
